/* .bgGreen {
  background: linear-gradient(var(--verde2), var(--verde3), var(--verde3));
} */
.bg{
  background: var(--n);
}
.carr img {
  width: 90%;
  height: 30rem;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .carr img {
    height: 25rem;
    margin-bottom: 1rem;
  }
}
