.header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #273f1a;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  height: 100%;
}

.containerCenter {
  width: 100%;
  margin: 0;
}

.textContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.textContent.full {
  grid-column: span 12;
  max-width: 100%;
  gap: 3rem;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: self-start;
  justify-content: center;
  gap: 3rem;
  /* margin: 0 4rem; */
}

.textContainer{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 3rem;
}

.textContainer h2 {
  font-size: 3rem;
  text-align: center;
  color: white;
}

.textContainer p{
  color: white;
  text-align: start;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 1.5;
}

.grid2 img {
  /* width: 15rem;
  height: 15rem;
  object-fit: cover; */
  border-radius: 2%;
}

.mainContainer {
  /* min-height: 80vh; */
  height: 90vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}


.sliderFrame {
  width: 80%;
  height: 80%;
  margin: 2rem auto 0 auto;
  overflow: hidden;
  align-self: center;
  justify-content: center;
}

.sliderFrame ul {
  display: flex;
  padding: 0;
  width: 400%;
  height: 100%;
  animation: slide 15s infinite alternate ease-in-out;
}

.sliderFrame li {
  width: 25%;
  height: 100%;
  list-style: none;
}

.sliderFrame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
