:root{
  --verde1: #96e071;
  --verde2: #3e8913;
  --verde3: #144611;
  
  /* --v: #96e071 ;
  --v2: #3e8913 ;
  --v3:#144611;
  --v4:#ebebe3;
  --v5:#607d8b;
  --n: #eae8dc; */
  --v0: rgb(162, 227, 132)  ;
  --v: #c5e384;
  --v2: #5d9950  ;
  --v3:#2e5737 ;
  --v4:#ebebe3 ;
  --v5:#607d8b;
  --n: #eae8dc;
  --nn: #ece7e2;
  --n1: #bfb1a9;
  --n2: #d3c3b7 ;
  --n3: #b8a089;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font1);
  font-weight: 500;
}

body {
  font-family: "Satoshi", sans-serif;
  text-align: center;
  overflow-x: hidden;
}

section {
  position: relative;
  width: 100%;
  height: fit-content;
}
/* 
.cardsColumn h2{
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 4px;
} */