:root{
  --verde1: #96e071;
  --verde2: #3e8913;
  --verde3: #144611;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font1);
  font-weight: 500;
}

body {
  font-family: "Satoshi", sans-serif;
  text-align: center;
}

section {
  position: relative;
  width: 100%;
  height: fit-content;
}
/* 
.cardsColumn h2{
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 4px;
} */