.navbarIdea{
  background: linear-gradient(
    to right,
    #fff,
    /* var(--verde1),
    var(--verde2),
    var(--verde3) */ var(--v),
    var(--v2),
    var(--v3)
  );
  /* background: linear-gradient(
    to right,
    #fff,
    #53ac59,
    #3b8952,
    #0f684b
  ); */
}

.logo {
  width: 120px;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-weight: 600;
  letter-spacing: 1.7px;
  font-size: 23px;
  transition: transform 0.3s ease;
  display: inline-block;
}

.links a:hover {
  transform: scale(1.1);
  font-weight: 700;
}

.iconMenu {
  --gap: 5px;
  --height-bar: 2.5px;
  --pos-y-bar-one: 0;
  --pos-y-bar-three: 0;
  --scale-bar: 1;
  --rotate-bar-one: 0;
  --rotate-bar-three: 0;
  width: 25px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  cursor: pointer;
  position: relative;
}

.bar {
  position: relative;
  height: var(--height-bar);
  width: 100%;
  border-radius: 0.5rem;
  background-color: black;
}

.bar1 {
  top: var(--pos-y-bar-one);
  transform: rotate(var(--rotate-bar-one));
  transition: top 200ms 100ms, transform 100ms;
}

.bar2 {
  transform: scaleX(var(--scale-bar));
  transition: transform 150ms 100ms;
}

.bar3 {
  bottom: var(--pos-y-bar-three);
  transform: rotate(var(--rotate-bar-three));
  transition: bottom 200ms 100ms, transform 100ms;
}

input.checkIcon:checked + label.iconMenu > .bar1 {
  transition: top 200ms, transform 200ms 100ms;
}

input.checkIcon:checked + label.iconMenu > .bar3 {
  transition: bottom 200ms, transform 200ms 100ms;
}

input.checkIcon:checked + label.iconMenu {
  --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
  --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
  --scale-bar: 0;
  --rotate-bar-one: 45deg;
  --rotate-bar-three: -45deg;
}
.checkIcon:checked + label.iconMenu + .enlaces {
  display: flex;
}

.languageMenu {
  margin-left: 1rem;
  position: relative;
}

.languageButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  color: white;
}

.languageButton svg {
  margin-right: 8px;
  fill: #ffffff;
  width: 30px;
  height: 30px;
}

.languageDropdown {
  position: absolute;
  top: 100%;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.languageDropdown li {
  padding: 4px 8px;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: #333;
}

.languageDropdown li:hover {
  background-color: #f1f1f1;
}

.btnLng {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

@media (max-width: 1023px) {
  /* .links {
    background: linear-gradient(to right, #fff, var(--v), var(--v2), var(--v3));
  } */

  .logo {
    width: 100px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
